#set ( $var = $count )
{
  "timeout":"$timeout",
  "init":"{'cmdID':'0001', 'cmdName':'login','username':'$username2','password':'$password2'}",
  "conditioned":
  [
    {"condition":"{'eventType':'command', 'cmdName':'login', 'username':'$username2','errCode':'0'}",
      "command":"{'cmdName':'sendmessage','chatType':'group','to':'$groupId','messageType':'location','content':'$message','latitude':'123.45','longitude':'234.56'}",
      #set ( $var = $var + 1 )"output":"casename: ${casename}, step: step_${var}, result: send message: ${message} into groupId: ${groupId}"
    },
    {"condition":"{'eventType':'message', 'pushName':'onMessageStatusChanged','errCode':'0'}",
      "command":"{'cmdID':'0001','cmdName':'logout'}",
      #set ( $var = $var + 1 )"output":"casename: ${casename}, step: step_${var}, result: $username2 logout"
    },
    {"condition":"{'eventType':'command', 'cmdName':'logout', 'errCode':'0'}",
      "command":"{'cmdName':'exit'}",
      #set ( $var = $var + 1 )"output":"casename: ${casename}, step: step_${var}, result: $username2 exit"
    }
  ]
}
