node_modules
.DS_Store
/.project
.idea/*
*.swp
demo/javascript/dist/demo.js
demo/javascript/dist/debug.js
demo/javascript/dist/webim.config.js
sdk/dist/websdk-*.js
webrtc/dist/webrtc-1.0.0.js
publish/*
/webrtc/dist/webrtc-1.0.0.js
