node_modules
.DS_Store
/.project
.idea/*
*.swp
publish/*
npm-debug.log*
web-im
web-im-*.zip
image/docker/webim/webim
coverage/*
demo/javascript/dist/demo-*.js
sdk/dist/websdk-*.js
sdk/dist/websdk-*.js.map
webrtc/dist/webrtc-*.js
