node_modules
.DS_Store
/.project
.idea/*
*.swp
demo/javascript/dist/demo.js
demo/javascript/dist/debug.js
demo/javascript/dist/webim.config.js
#sdk/dist/websdk-*.js
#webrtc/dist/webrtc-*.js
#webrtc/dist/webrtc-*.js
publish/*
sdk/dist/websdk-1.1.3.js
sdk/dist/websdk-1.4.0.js
sdk/npm-debug.log
webrtc/dist/webrtc-1.0.0.js
