html, body, section, article, h1, h2, h3, h4, h5, h6, p, div, i, em, span, ul, li, ol {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    font-size: 13px;
    font-family: sans-serif, 'Microsoft YaHei', 'Arial';
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}
input, button, textarea {
    outline: none;
    resize: none;
}
ul, ol, li {
    list-style: none;
}
.left {
    float: left;
}
.right {
    float: right;
}
object {
    z-index: 3;
    position: absolute;
    left: 340px;
    bottom: 118px;
    width: 84px;
}
@font-face {
    font-family: 'webim';
    src: url('font/iconfont.eot?t=1468838561');
    src: url('font/iconfont.woff?t=1468838561') format('woff'),
    url('font/iconfont.ttf?t=1468838561') format('truetype'),
    url('font/iconfont.svg?t=1468838561#iconfont') format('svg');


}
.w100 {
    width: 100%;
    height: 100%;
}
.rel {
    position: relative;
}
.font {
    width: 40px;
    height: 40px;
    font-family: 'webim' !important;
    font-size: 40px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.font.small {
    width: 30px;
    height: 30px;
    font-size: 30px;
}
.font.smaller {
    width: 24px;
    height: 24px;
    font-size: 24px;
}
.font.smallest {
    width: 16px;
    height: 16px;
    font-size: 16px;
}
.bigfont {
    width: 30px;
    height: 30px;
    font-size: 30px;
}
.webim .hide {
    display: none;
}
.webim .base-bgcolor {
    color: #fff;
    border: 1px solid rgb(167, 212, 42);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: rgb(178, 221, 76);
}
.webim .base-color {
    color: rgb(178, 221, 76);
}
/*
 * loading
 */
.webim-loading {
    position: absolute;
    z-index: 3;
    background-color: #FAFAFA;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.webim-loading img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 24px;
}
/*
 * button
 */
.webim-button {
    font-size: 16px;
    box-sizing: border-box;
    display: inline-block;
    margin: 10px auto;
    width: 300px;
    height: 36px;
    cursor: pointer;
    border-radius: 2px;
}
/*
 * input
 */
input:focus {
    border: 1px solid rgb(178, 221, 76);
}
.webim-input {
    box-sizing: border-box;
    font-size: 14px;
    box-sizing: border-box;
    padding: 0 4px;
    display: inline-block;
    margin: 10px auto 0;
    width: 300px;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid rgb(229, 229, 229);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.webim-logo {
    display: block;
    width: 200px;
    margin: 20px auto;
}
/*
 * left bar
 */
.webim-leftbar {
    position: relative;
    float: left;
    width: 50px;
    height: 100%;
    text-align: center;
    border-radius: 2px 0px 0px 2px;
    border: 1px solid rgb(242, 242, 242);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: rgb(252, 253, 251);
}
/*
 * contact list
 */
.webim-contact-wrapper {
    float: left;
    height: 100%;
    width: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid rgb(242, 242, 242);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.webim-contact-item {
    cursor: pointer;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 60px;
}
.webim-contact-item .webim-avatar-icon {
    float: left;
    margin: 10px;
}
.webim-contact-item > span {
    color: rgb(26, 26, 26);
    font-size: 14px;
    margin: 10px 0;
    display: inline-block;
    width: calc(100% - 70px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.webim-contact-item > i {
    right: 2px;
    bottom: 10px;
    top: auto;
}
.webim-contact-item > em {
    display: block;
    height: 20px;
    line-height: 20px;
    width: calc(100% - 100px);
    position: absolute;
    margin: auto;
    left: 30px;
    top: 30px;
    right: 10px;
    color: rgb(153, 153, 153);
    font-style: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.webim-contact-item > em img {
    width: 20px;
    vertical-align: middle;
}
.webim-contact-item.selected {
    background-color: rgb(243, 246, 246);
}
/*
 * notify
 */
.webim-notify {
    z-index: 3;
    position: fixed;
    top: 10px;
    width: 50%;
    color: #fff;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 320px;
    min-height: 30px;
    border-radius: 2px;
    line-height: 30px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 6px 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border: 0px none rgb(0, 0, 0);
}
.webim-notify.success {
    background-color: rgb(174, 218, 62);
}
.webim-notify.error {
    background-color: rgb(255, 58, 0);
}
.webim-notify i {
    position: absolute;
    right: 10px;
    top: 9px;
}


/*
 * signin & signup
 */
.webim-sign {
    overflow: hidden;
    width: 400px;
    margin: 40px auto;
    text-align: center;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 6px 0px;
    border: 0px none rgb(0, 0, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.webim-sign h2 {
    font-size: 24px;
    color: rgb(26, 26, 26);
    width: 100%;
    line-height: 84px;
    height: 64px;
}
.webim-sign p {
    margin: 0px auto 40px;
    width: 300px;
    text-align: left;
}
.webim-sign p i {
    font-style: normal;
    color: rgb(178, 221, 76);
    cursor: pointer;
}


/*
 * leftbar
*/
.webim-profile-avatar {
    display: inline-block;
    margin: 10px auto;
}
.webim-avatar-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-filter: contrast(1.2);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.webim-avatar-icon.small {
    width: 30px;
    height: 30px;
}
.webim-friend-icon,
.webim-group-icon,
.webim-stranger-icon,
.webim-operations-icon,
.webim-chatroom-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 10px;
    color: rgb(204, 204, 204);
}
.webim-friend-icon:hover,
.webim-friend-icon.selected,
.webim-group-icon:hover,
.webim-group-icon.selected,
.webim-stranger-icon:hover,
.webim-stranger-icon.selected,
.webim-operations-icon:hover,
.webim-operations-icon.selected,
.webim-chatroom-icon:hover,
.webim-chatroom-icon.selected {
    color: rgb(178, 221, 76);
}
.webim-operations-icon {
    color: rgb(204, 204, 204);
    position: absolute;
    margin-bottom: 0;
    bottom: 10px;
    left: 10px;
}
.webim-operations-icon:hover {
    color: rgb(178, 221, 76);
}
/*
 * operations
 */
.webim-operations {
    position: absolute;
    text-align: left;
    left: 40px;
    bottom: 10px;
    width: 160px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 6px 0px;
    background-color: #fff;
}
.webim-operations li {
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}
.webim-operations li:hover {
    color: rgb(178, 221, 76);
    background-color: rgb(242, 242, 242);
}
.webim-operations li:last-child:hover {
    color: rgb(233, 1, 1);
}
.webim-operations i {
    margin: 0 10px;
}
.webim-operations span {
    vertical-align: top;
}
.webim-msg-prompt {
    position: absolute;
    top: -4px;
    right: 0;
    line-height: 20px;
    font-style: normal;
    width: 18px;
    height: 18px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    border: 2px solid rgb(252, 253, 251);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: rgb(255, 58, 0)      
}
.webim-msg-icon-prompt {
    width: 10px;
    height: 10px;
    top: 0px;
    right: 8px;
}
/*
 * chat
 */
.webim-chat {
    position: relative;
    width: 960px;
    height: 600px;
    margin: 30px auto;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 6px 0px;
    border: 0px none rgb(0, 0, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color:rgb(255, 255, 255);
    border-radius: 2px;
    overflow: hidden;
}
.webim-chatwindow {
    position: relative;
    float: left;
    height: 100%;
    width: calc(100% - 303px);
}
.webim-chatwindow-title {
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
}
.webim-chatwindow-options {
    border-top: 1px solid rgb(242, 242, 242);
    width: 100%;
    z-index: 1;
    position: absolute;
    bottom: 120px;
    left: 0;
    height: 30px;
    line-height: 30px;
}
.webim-chatwindow-options > span {
    margin-left: 6px;
    color: rgb(204, 204, 204);
    cursor: pointer;
}
.webim-chatwindow-options > span:hover {
    color: rgb(178, 221, 76);
}
.webim-chatwindow textarea {
    position: absolute;
    bottom: 40px;
    right: 0;
    box-sizing: border-box;
    height: 80px;
    border: none;
    width: 100%;
    padding: 10px 15px;
}
.webim-send-btn {
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 80px;
    height: 24px;
    font-size: 12px;
}
.webim-chatwindow-msg {
    z-index: 1;
    position: absolute;
    top: 40px;
    bottom: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 20px 10px;
    width: 100%;
}
.webim-chatwindow-msg {
    position: absolute;
    top: 40px;
    bottom: 150px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.webim-send-wrapper > ul {
    z-index: 1;
    position: absolute;
    width: 280px;
    height: 194px;
    bottom: 150px;
    left: -140px;
    border-radius: 2px;
    background: #fff;
    box-sizing: border-box;
    padding: 4px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 4px 12px 0px;
}
.webim-send-wrapper > ul li {
    cursor: pointer;
    display: inline-block;
    margin: 2px 3px 0 3px;;
}

/*
 * msg
 */
.webim-msg-container {
    overflow: hidden;
}
.webim-msg-icon {
    position: absolute;
    top: 4px;
    font-size: 10px;
}
.right .webim-msg-icon {
    right: -40px;
}
.left .webim-msg-icon {
    left: -10px;
}
.webim-msg-value {
    background: #abc;
    position: relative;
    min-width: 200px;
    min-height: 30px;
    border-radius: 6px;
    padding: 5px 10px;
    box-sizing: border-box;
    max-width: 60%;
}
.webim-msg-value > div,
.webim-msg-value > pre {
    word-break: break-all;
    color: rgb(26, 26, 26);
    font-size: 14px;
    line-height: 20px;
}
.webim-msg-value .emotion {
    width: 32px;
    vertical-align; bottom;
}
.right .webim-msg-value {
    background: #abc;
    float: right;
    margin: 20px -80px 0 0;
}
.left .webim-msg-value {
    background: #abc;
    float: left;
    margin: 20px 0 0 -80px;
}
.webim-msg-img {
    max-width: 100%;
    vertical-align: middle;
    cursor: pointer;
}
.webim-msg-header {
    line-height: 30px;
    margin-bottom: 4px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}
.webim-msg-value i {
    display: block;
    font-style: normal;
    margin-left: 40px;
    font-size: 12px;
    color: rgba(0,0,0,.25);
}
.webim-msg-header-icon {
    vertical-align: middle;
    display: inline-block;
    margin: -30px 0 0 -4px;
    line-height: 40px;
}
.webim-msg-name {
    width: calc(100% - 40px);
    display: inline-block;
    height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.webim-msg-value a {
    display: block;
    margin-left: 38px;
    margin-top: -30px;
    font-size: 12px;
    color: rgba(0,0,0,.25);
    text-decoration: none;
}
.webim-img-expand {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.3);
    z-index: 3;
}
.webim-img-expand img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 90%;
    max-height: 90%;
    margin: auto;
}
.webim-audio-slash {
    background-color: rgba(0,0,0,0);
    position: absolute;
    width: 100%;
    height: 30px;
    top: 0;
    left: 0;
    border-radius: 4px;
}
.slash {
    animation: slash 1s infinite;
    -moz-animation: slash 1s infinite;
    -webkit-animation: slash 1s infinite;
}
@keyframes slash {
    from { background-color: rgba(0,0,0,0); }
    50% { background-color: rgba(0,0,0,.1); }
    to { background-color: rgba(0,0,0,0); }
}
@-moz-keyframes slash {
    from { background-color: rgba(0,0,0,0); }
    50% { background-color: rgba(0,0,0,.1); }
    to { background-color: rgba(0,0,0,0); }
}
@-webkit-keyframes slash {
    from { background-color: rgba(0,0,0,0); }
    50% { background-color: rgba(0,0,0,.1); }
    to { background-color: rgba(0,0,0,0); }
}
