#set ( $var = $count )
{
  "timeout":"$timeout",
  "init":"{'cmdID':'0001', 'cmdName':'login','username':'$username3','password':'$password3'}",
  "conditioned":
  [
    {"condition":"{'eventType':'command', 'cmdName':'login', 'username':'$username3','errCode':'0'}",
      "command":"{'cmdID':'0001','cmdName':'addgroupmembers','groupID':'$groupId','welcomeMessage':'test','members':['$username']}",      
      #set ( $var = $var + 1 )"output":"casename: ${casename}, step: step_${var}, result: start to add group member: ${username}"
    },
    {"condition":"{'eventType':'command', 'cmdName':'addgroupmembers', 'errCode':'0'}",
      "command":"{'cmdID':'0001','cmdName':'exit'}",
      #set ( $var = $var + 1 )"output":"casename: ${casename}, step: step_${var}, result: add group member: groupId: ${groupId}, member: ${username3}, member: ${username}"
    }
  ]
}
