#set ( $var = $count )
{
  "timeout":"$timeout",
  "init":"{'cmdID':'00001','cmdName':'login','username':'$username2','password':'$password2'}",
  "conditioned":
  [
    {"condition":"{'eventType':'command', 'cmdName':'login', 'username':'$username2','errCode':'0'}",
      "command":"{'cmdID':'0001','cmdName':'addcontact','contactID':'$username','inviteMessage':'hello'}",
      #set ( $var = $var + 1 )"output":"casename: ${casename}, step: step_${var}, result: $username2 adds $username as a friend"
    },
    {"condition":"{'eventType':'push', 'pushName':'onContactAdded', 'contactID':'$username'}",
      "command":"{'cmdID':'0001','cmdName':'logout'}",
      #set ( $var = $var + 1 )"output":"casename: ${casename}, step: step_${var}, result: $username2 logout"
    },
    {"condition":"{'eventType':'command', 'cmdName':'logout', 'errCode':'0'}",
      "command":"{'cmdName':'exit'}",
      #set ( $var = $var + 1 )"output":"casename: ${casename}, step: step_${var}, result: $username2 exit"
    }
  ]
}
