
@font-face {font-family: "webim";
  src: url('iconfont.eot?t=1477721984098'); /* IE9*/
  src: url('iconfont.eot?t=1477721984098#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1477721984098') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1477721984098') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1477721984098#webim') format('svg'); /* iOS 4.1- */
}

.webim {
  font-family:"webim" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.webim-K:before { content: "\4b"; }

.webim-D:before { content: "\44"; }

.webim-z:before { content: "\7a"; }

.webim-i:before { content: "\69"; }

.webim-A:before { content: "\41"; }

.webim-J:before { content: "\4a"; }

.webim-T:before { content: "\54"; }

.webim-d:before { content: "\64"; }

.webim-R:before { content: "\52"; }

.webim-C:before { content: "\43"; }

.webim-l:before { content: "\6c"; }

.webim-L:before { content: "\4c"; }

.webim-a:before { content: "\61"; }

.webim-U:before { content: "\55"; }

.webim-e:before { content: "\65"; }

.webim-F:before { content: "\46"; }

.webim-H:before { content: "\48"; }

.webim-I:before { content: "\49"; }

.webim-V:before { content: "\56"; }

.webim-j:before { content: "\6a"; }

.webim-S:before { content: "\53"; }

.webim-b:before { content: "\62"; }

.webim-c:before { content: "\63"; }

.webim-O:before { content: "\4f"; }

.webim-k:before { content: "\6b"; }

.webim-M:before { content: "\4d"; }

.webim-P:before { content: "\50"; }

.webim-W:before { content: "\57"; }

.webim-E:before { content: "\45"; }

.webim-X:before { content: "\58"; }

.webim-G:before { content: "\47"; }

.webim-Q:before { content: "\51"; }

.webim-B:before { content: "\42"; }

.webim-h:before { content: "\68"; }

.webim-f:before { content: "\66"; }

.webim-m:before { content: "\6d"; }

.webim-L1:before { content: "\4e"; }

.webim-Z:before { content: "\5a"; }

.webim-n:before { content: "\6e"; }

