.webim-chat {
    position: relative;
    max-width: 1024px;
    min-width: 960px;
    max-height: 600px;
    height: 100%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 6px 0px;
    border: 0px none rgb(0, 0, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color:rgb(255, 255, 255);
    border-radius: 2px;
    overflow: hidden;
}
.webim-chatwindow {
    position: relative;
    float: left;
    height: 100%;
    width: calc(100% - 303px);

    textarea {
        position: absolute;
        bottom: 40px;
        right: 0;
        box-sizing: border-box;
        height: 80px;
        border: none;
        width: 100%;
        padding: 10px 15px;
    }

    .webim-group-memeber {
        position: absolute;
        left: 0;    
        right: 0;
        top: 40px;
        margin: auto;
        padding: 10px 7px;
        border-radius: 2px;
        width: 200px;
        overflow: auto;
        box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 6px 0px;
        z-index: 2;
        background: #fff;
        max-height: 300px;

        li {
            height: 30px;
            padding: 0 4px;
            box-sizing: border-box;
            text-align: left;

            > div {
                display: inline-block;
                margin-right: 6px;
                width: 20px;
                height: 20px;
            }
        }

    }

    .webim-group-name {
        max-width: 64px;
        overflow: hidden;
        text-overflow:ellipsis;
        display: inline-block;
    }
}
.webim-chatwindow-title {
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;

    i {
        color: #cccccc;
        vertical-align: middle;
        cursor: pointer;
        margin-left: 10px;
        padding-bottom: 22px;

        &.webim-up-icon {
            transform: rotate(180deg);
        }

        &.webim-call-icon {
            position: absolute;
            left: 0;
            top: 0;
        }
        &.webim-accept-icon {
            position: absolute;
            left: 40px;
            top: 0;
        }
    }
}
.webim-chatwindow-options {
    border-top: 1px solid rgb(242, 242, 242);
    width: 100%;
    z-index: 1;
    position: absolute;
    bottom: 120px;
    left: 0;
    height: 30px;
    line-height: 30px;

    > span {
        margin-left: 6px;
        color: $grayColor;
        cursor: pointer;
    }

    > span:hover {
        color: $color;
    }
}

.webim-send-btn {
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 80px;
    height: 24px;
    font-size: 12px;
}
.webim-chatwindow-msg {
    z-index: 1;
    position: absolute;
    top: 40px;
    bottom: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 20px 10px;
    width: 100%;
}
.webim-send-wrapper {
    > ul {
        z-index: 1;
        position: absolute;
        width: 280px;
        height: 194px;
        bottom: 150px;
        left: -140px;
        border-radius: 2px;
        background: #fff;
        box-sizing: border-box;
        padding: 4px;
        box-shadow: rgba(0, 0, 0, 0.298039) 0px 4px 12px 0px;

        li {
            cursor: pointer;
            display: inline-block;
            margin: 2px 3px 0 3px;;
        }
    }
}
#test {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2222;
}

