$dcolor: rgb(214, 233, 167);
$color: rgb(174, 218, 62);
$gcolor: rgb(204, 204, 204);

html, body, section, article, h1, h2, h3, h4, h5, h6, p, div, i, em, span, ul, li, ol {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 13px;
    overflow-y: hidden;
    font-family: sans-serif, 'Microsoft YaHei', 'Arial';
    background-color: rgb(250,250,250);
    border: 1px solid rgba(250,250,250,0);
    -webkit-font-smoothing: antialiased;
}

input, button, textarea {
    outline: none;
    resize: none;
    &:focus {
        border: 1px solid $color;
    }
}

ul, ol, li {
    list-style: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.w100 {
    width: 100%;
    height: 100%;
}

.rel {
    position: relative;
}

object {
    z-index: 3;
    position: absolute;
    left: 340px;
    bottom: 118px;
    width: 84px;
}

@font-face {
    font-family: 'webim';
    src: url('./src/font/iconfont.eot?t=1.1.2');
    src: url('./src/font/iconfont.woff?t=1.1.2') format('woff'),
    url('./src/font/iconfont.svg?t=1.1.2#iconfont') format('svg');
}

.font {
    width: 40px;
    height: 40px;
    font-family: 'webim' !important;
    font-size: 40px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;

    &.small {
        width: 30px;
        height: 30px;
        font-size: 30px;
    }

    &.smaller {
        width: 24px;
        height: 24px;
        font-size: 24px;
    }

    &.smallest {
        width: 16px;
        height: 16px;
        font-size: 16px;
    }
}

.hide {
    display: none;
}

.bg-color {
    color: #fff;
    border: 1px solid $color;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: $color;
}

.color {
    color: $color;
}

.hover-color:hover {
    color: $color;
}

.webim-logo {
    width: 200px;
    margin: 0 auto;
}

.webim {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 10%;
    bottom: 10%;
}

.copyright {
    position: absolute;
    width: 100%;
    bottom: 10px;
    text-align: center;
    color: $gcolor;
}
