/*
 * dialog
 */
.webim-dialog {
  z-index: 3;
  position: absolute;
  width: 400px;
  min-height: 168px;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 8px 0px;
  background-color: rgb(255, 255, 255);

  h3 {
    line-height: 40px;
    box-sizing: border-box;
    padding-left: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    font-weight: normal;
  }

  .font {
    font-size: 20px;
    position: absolute;
    right: 6px;
    top: 6px;
    width: 20px;
    height: 20px;
    color: rgba(0, 0, 0, .1);
    cursor: pointer;
  }

  > div {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 10px 10px 10px;
  }

  .webim-dialog-button {
    position: absolute;
    right: 8px;
    bottom: 2px;
    width: 80px;
    height: 26px;
  }
  .webim-dialog-button-search{
    bottom: 2px;
    width: 80px;
    height: 30px;
    margin-left: 70px;
  }
  .webim-dialog-button-left {
    position: absolute;
    right: 100px;
    bottom: 2px;
    width: 80px;
    height: 26px;
  }

  .webim-subscribe-button {
    width: 60px;
    height: 30px;
    margin-left: 10px;
  }

  input {
    height: 30px;
    width: 220px;
  }

  input.checkbox{
    height: auto;
  }

  textarea {
    margin-top: 20px;
    right: 0;
    box-sizing: border-box;
    height: 80px;
    border: 1px solid rgba(0, 0, 0, .1);
    width: 220px;
  }

  &-body {
    min-height: 100px;
    max-height: 126px;
    overflow-y: scroll;
    overflow-x: hidden;

    &-detail{
      width: 100%;
      //border: 1px solid red;

      span.title{
        font-size: 14px;
        display: block;
        font-weight: 700;
        margin-bottom: 5px;
      }
      
      span.content{
        font-size: 12px;
        color: #6a737c;
      }
    }
  }

  .webim-dialog-footer {
    padding: 10px;
    position: relative;
    min-height: 20px;
    text-align: right;

    .webim-button {
      position: static;
      margin-right: 10px;
    }

    .webim-group-back{
      position: absolute;
      left: 0;
      height: 67px;
      width: 50px;
      background-color: #f2f2f2;
      top: 0;
      border-radius: 0 2px 2px 0;
      text-align: center;
      cursor: pointer;
      span{
        line-height: 67px;
        font-size: 30px;
        font-weight: 700;
        color: #868683;
      }
    }
  }
}

.webim-dialog-2 {
  height: 450px;
}

.webim-friend-requests {
  height: auto;

  span {
    width: 60%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  > div {
    overflow: auto;
    max-height: 400px;
  }
}

.webim-body-loading{
  height: 86px;
  width: 400px;
  position: absolute;
  opacity: 0.5;
  z-index: 999;
  margin-top: -10px;
  margin-left: -10px;
  padding-top: 61px;

  img{
    margin: auto;
    display: block;
    width: 30px;
    line-height: inherit;
  }
}