$fontFamily: Arial, Helvetica, sans-serif;

$color: #4eb1f4;

$buttonActiveColor: #1aa1e4;

$grayColor: rgb(204, 204, 204);

$lightColor: rgb(175, 215, 232);

$inputShadow: rgba(25, 161, 219, 0.247059) 0px 0px 5px 0px;

$msgBgColor: rgb(180, 228, 252);
