/*
 * left bar
 */
.webim-leftbar {
  position: relative;
  float: left;
  width: 50px;
  height: 100%;
  text-align: center;
  border-radius: 2px 0px 0px 2px;
  border: 1px solid rgb(242, 242, 242);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: rgb(252, 253, 251);
}

/*
 * contact list
 */
.webim-contact-wrapper {
  float: left;
  height: 100%;
  width: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid rgb(242, 242, 242);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.webim-contact-item {
  cursor: pointer;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 60px;

  .webim-avatar-icon {
    float: left;
    margin: 10px;
  }

  .webim-contact-info {
    position: relative;
  }

  .webim-contact-handlers {
    text-align: right;
    position: absolute;
    right: 2px;
    top: 0;

    i {
      font-size: 16px;
      line-height: 36px;
    }
  }

  > span, .webim-contact-username {
    color: rgb(26, 26, 26);
    font-size: 14px;
    margin: 10px 0;
    display: inline-block;
    width: calc(100% - 70px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  > i {
    display: inline-block;
    right: 2px;
    bottom: 10px;
    top: auto;
  }

  > em {
    display: block;
    height: 20px;
    line-height: 20px;
    width: calc(100% - 100px);
    position: absolute;
    margin: auto;
    left: 30px;
    top: 30px;
    right: 10px;
    color: rgb(153, 153, 153);
    font-style: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    img {
      width: 20px;
      vertical-align: middle;
    }
  }

  &.selected {
    background-color: rgb(243, 246, 246);
  }
}

.webim-profile-avatar {
  display: inline-block;
  margin: 10px auto;
}

.webim-avatar-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-filter: contrast(1.2);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &.small {
    width: 30px;
    height: 30px;
  }
}

.webim-operations-icon,
.webim-leftbar-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 10px;
  color: $grayColor;
  .rotate{
    transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
  }
}

.webim-operations-icon:hover,
.webim-leftbar-icon:hover,
.webim-operations-icon.selected,
.webim-leftbar-icon.selected {
  color: $color;
}

.webim-operations-icon {
  color: $grayColor;
  position: absolute;
  margin-bottom: 0;
  bottom: 10px;
  left: 10px;

  &:hover {
    color: $color;
  }
}

/*
 * operations
 */
.webim-operations {
  z-index: 1;
  position: absolute;
  text-align: left;
  left: 40px;
  bottom: 10px;
  width: 160px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 6px 0px;
  background-color: #fff;

  i {
    margin: 0 10px;
    color: $grayColor;
  }

  span {
    vertical-align: top;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  li {
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    overflow: hidden;

    &:hover {
      color: $color;
      background-color: rgb(242, 242, 242);

      i {
        color: $color;
      }
    }

    &:nth-child(2) {
      i {
        display: inline-block;
        margin-top: -4px;
        vertical-align: top;
      }
    }

    &:last-child:hover {
      color: rgb(233, 1, 1);
      i {
        color: rgb(233, 1, 1);
      }
    }
  }
}

.webim-msg-prompt {
  position: absolute;
  top: -4px;
  right: 0;
  line-height: 16px;
  font-style: normal;
  width: 16px;
  height: 16px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  border: 2px solid rgb(252, 253, 251);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: rgb(255, 58, 0)
}

.webim-msg-icon-prompt {
  width: 10px;
  height: 10px;
  top: 0px;
  right: 8px;
}

// 黑名单
.webim-blacklist-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  //border-right: 1px solid rgb(242, 242, 242);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.webim-blacklist-item {
  position: relative;
  cursor: pointer;
  display: block;
  width: 100%;
  overflow: hidden;
  height: 30px;
  font-size: 20px;
  line-height: 30px;

  i.font {
    line-height: 30px;
    float: right;
    position: static;
  }
}

.webim-operation-icon {
  width: 100px;
  float: right;
  margin-right: 10px;
  text-align: right;
}

* :focus {
  outline: 0;
}
