.webim-msg-container {
  overflow: hidden;
  margin: 24px 0;

  > div {
    max-width: 60%;
    overflow: hidden;
  }

  .right {
    > p {
      color: rgb(153, 153, 153);
      letter-spacing: 1px;
      margin-right: 10px;
    }

    .webim-msg-icon {
      color: $msgBgColor;
      right: -40px;
    }

    .webim-msg-delivered{
      float: left;
      margin: 6px 2px 0 0;
      background-color: #cccccc;
    }

    .webim-msg-value {
      float: right;
      margin: 6px 10px 0 0;
      background-color: $msgBgColor;
    }
    .webim-msg-error {
      float: right;
      margin: 6px 10px 0 0;
    }

    .webim-msg-header {
      text-align: right;
    }
  }

  .left {
    > p {
      color: rgb(153, 153, 153);
      letter-spacing: 1px;
      margin-left: 10px;
    }

    .webim-msg-icon {
      color: rgb(241, 242, 236);
      left: -10px;
    }

    .webim-msg-value {
      background-color: rgb(241, 242, 236);
      float: left;
      margin: 6px 0 0 10px;
    }

    .webim-msg-header {
      text-align: left;
    }
  }
}

.webim-msg-icon {
  position: absolute;
  top: 4px;
  font-size: 10px;
}

.webim-msg-value {
  position: relative;
  min-height: 30px;
  max-width: calc(100% - 80px);
  border-radius: 4px;
  padding: 6px;
  box-sizing: border-box;
  min-width: 60%;

  video {
    width: 100%;
  }

  &.webim-img-msg-wrapper {
    padding: 1px;
  }

  > div,
  > pre {
    white-space: pre-wrap;
    word-break: break-all;
    color: rgb(26, 26, 26);
    font-size: 14px;
    line-height: 20px;
    margin: 0;
  }

  .emoji {
    width: 32px;
    vertical-align: bottom;
  }

  i {
    display: block;
    font-style: normal;
    margin-left: 40px;
    font-size: 12px;
    color: rgba(0, 0, 0, .25);
  }

  a {
    display: block;
    margin-left: 30px;
    margin-top: -28px;
    font-size: 12px;
    color: rgba(0, 0, 0, .25);
    text-decoration: none;
  }
}

.webim-msg-img {
  max-width: 100%;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;
}

.webim-msg-header {
  line-height: 30px;
  margin-bottom: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.webim-msg-header-icon {
  vertical-align: middle;
  display: inline-block;
  margin: -46px 4px 0 -4px;
  line-height: 40px;
  color: #868683;
}

.webim-msg-name {
  width: calc(100% - 80px);
  display: inline-block;
  height: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.webim-msg-fileSize{
  display: inline-block;
  float: right;
  width: 47px;
  overflow: hidden;
}

.webim-img-expand {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .3);
  z-index: 3;

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 90%;
    max-height: 90%;
    margin: auto;
  }
}

.webim-audio-slash {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 4px;
}

.slash {
  animation: slash 1s infinite;
  -moz-animation: slash 1s infinite;
  -webkit-animation: slash 1s infinite;
}

@keyframes slash {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  50% {
    background-color: rgba(0, 0, 0, .1);
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}

@-moz-keyframes slash {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  50% {
    background-color: rgba(0, 0, 0, .1);
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}

@-webkit-keyframes slash {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  50% {
    background-color: rgba(0, 0, 0, .1);
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}

.clearfix:after {
  content: ' ';
  display: table;
  clear: both;
}