/*
 * signin & signup
 */
.webim-sign {
    overflow: hidden;
    width: 400px;
    margin: 40px auto;
    text-align: center;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 6px 0px;
    border: 0px none rgb(0, 0, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: rgb(255, 255, 255);

    h2 {
        font-size: 24px;
        color: rgb(26, 26, 26);
        width: 100%;
        line-height: 84px;
        height: 64px;
    }

    p {
        margin: 0px auto 40px;
        width: 300px;
        text-align: left;

        i {
            font-style: normal;
            color: $color;
            cursor: pointer;
        }
    }

    &.webim-signup {
        button {
            margin-top: 30px;
        }
    }
}
