/*
 * button
 */
.webim-button {
    font-size: 16px;
    box-sizing: border-box;
    display: inline-block;
    margin: 10px auto;
    width: 300px;
    height: 36px;
    cursor: pointer;
    border-radius: 2px;

    &.error {
        background-color: rgb(255, 58, 0);
        border: 1px solid rgb(255, 58, 0);
    }

    &:hover {
        background-color: $buttonActiveColor;
    }
}

/*
 * input
 */
.webim-input {
    box-sizing: border-box;
    font-size: 14px;
    padding: 0 4px;
    display: inline-block;
    margin: 10px auto 0;
    width: 300px;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid rgb(229, 229, 229);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: rgb(255, 255, 255);
}

/*
 * checkbox
 */
.webim-checkbox {

    text-align: left;
    margin: 10px 0 10px 5px;
    padding-left: 50px;
    box-sizing: border-box;

    span {
        height: 30px;
        line-height: 30px;
    }

    > i {
        position: relative;
        margin-right: 6px;
        width: 14px;
        height: 14px;
        border-radius: 2px;
        display: inline-block;
        vertical-align: middle;
        border: 1px solid $grayColor;
        cursor: pointer;

        &:hover {
            background-color: #fff;
            em {
                display: inline-block;
                color: $grayColor;
            }
        }

        &.checked {
            background-color: $lightColor;
            em {
                display: inline-block;
                color: #000;
            }
        }

        em {
            display: none;
            position: absolute;
            left: -6px;
            top: -10px;
            color: #000;
        }
    }
}
