$placeholderColor: #c5c5c5;

/******************* multiple select box ********************/
.react-multi-select-box-container {
    position: relative;
    width: 240px;
    display: inline-block;
    background-color: #fff;
    border-radius: 4px;
    text-align: left;
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
}
.react-multi-select-box {
    padding: 10px 0;
    display: inline-block;
    cursor: pointer;
    border: none;
    width: 100%;
    text-align: left;
    background-color: transparent;
    &::before {
        content: ' ';
        position: absolute;
        z-index: 1;
        height: 20px;
        top: -7px;
        right: 13px;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-bottom: 4px solid #a7a8aa;
    }
    &::after {
        content: ' ';
        position: absolute;
        z-index: 1;
        top: 20px;
        right: 13px;
        border-top: 4px solid #a7a8aa;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
    }
}
.react-multi-select-box-label {
    padding: 0 40px 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
    line-height: 16px;
}
.react-multi-select-box-empty {
    .react-multi-select-box-label {
        color: $placeholderColor;
    }
}
.react-multi-select-area{
    position: absolute;
    margin-top: 4px;
    padding: 0 10px;
    height: 225px;
    min-width: 260px;
    border-radius: 4px;
    background-color: #fff;
    z-index: 4;
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
}
.react-multi-select-box-hidden {
    display: none;
}
.react-multi-select-hide {
    display: none;
}
.react-multi-select-panel{
    display: flex;
    height: 185px;
}
.react-multi-select-col {
    min-width: 110px;
    overflow-y: auto;
    .selected-option-row {
        padding: 5px 0;
        cursor: pointer;
    }
}
.react-multi-select-sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15px;
    i {
        width: 6px;
        height: 6px;
        border-top: 2px solid #a9a9a9;
        border-right: 2px solid #a9a9a9;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
.react-multi-select-area-btn {
    padding: 5px 0;
    height: 40px;
    border-top: 1px solid #eee;
    text-align: center;
    .eg-btn {
        padding: 4px 20px;
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
}
.classification {
    padding: 5px 0;
    cursor: pointer;
}
.react-multi-select-classification {
}
.react-multi-select-list-arrow {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    &::before {
        content: ' ';
        position: absolute;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-left: 4px solid #87c2e5;
    }
}

.react-multi-select-list-arrow.expand {
    &::before {
        content: ' ';
        position: absolute;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 4px solid #87c2e5;
    }
}
.react-multi-select-sub-options {
    padding-left: 16px;
}
.react-multi-select-list-option {
    &:last-child {
        padding-bottom: 0;
    }
    .eg-input.checkbox {
        .input-icon {
            margin-right: 2px;
        }
    }
    .eg-input.checkbox.active {
        .input-icon {
            fill: #87c2e5;
        }
    }
    .react-multi-select-box-option {
        position: relative;
        padding: 5px 0 5px 20px;
        margin: 0;
        cursor: pointer;
        display: block;
        text-decoration: none;
        &:before {
            content: ' ';
            position: absolute;
            text-align: center;
            line-height: 1.1;
            left: 2px;
            top: 8px;
            height: 12px;
            width: 12px;
            margin-right: 10px;
            border: 1px solid #7B8E9B;
            background: #f9f9f9;
            vertical-align: middle;
        }
    }
    .react-multi-select-box-option-selected {
        &:before {
            content: '\2713';
            color: #87c2e5;
        }
    }
}
.react-multiple-select-type-name {
    padding: 5px 0 4px 0;
    border-bottom: 1px solid #eee;
    color: $placeholderColor;
}
.react-multi-select-btn {
    padding: 4px 20px;
    border-radius: 6px;
    background-color: #307fc8;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    outline: 0;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    border-color: transparent;
    &:last-child {
        margin-right: 0;
    }
}
.react-multi-select-btn-white {
    background-color: #fff;
    color: #333;
    border-color: #d5d5d5;
}
/******************* multiple select box ********************/