/*
  说明:
  下面的css都是为了快速实现功能，覆盖旧有属性的各种trick
  后期需要找专门的css人员整理一遍，合并入正常的文件，然后删除本文件!
*/
@import './multiple-select-box.scss';

.webim-chatwindow .webim-operations-icon {
  top: 5px;
  left: auto;
  right: 10px;
  bottom: 0px;
}

.webim-chatwindow .webim-operations {
  left: inherit;
  right: 40px;
  top: 10px;
  bottom: auto;
  z-index: 2; //避免ul列表被下面的msg窗口挡住 不能选取
}

.webim-friend-options span.radio_span {
  width: 80px;
  display: inline-block;
}

.webim-friend-options input.radio {
  height: 10px;
  width: 20px;
}

.webim_isWindowSDK {
  //position:
  top: 0;
  bottom: 0;
}

.webim_isWindowSDK .webim-chat {
  //box-shadow:
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  width: 100%;
}

.webim-friend-requests-windowSDK {
  width: 500px;
}

.webim-friend-requests-windowSDK span {
  width: 100%;
}

.webim-msg-value a.dir {
  margin-left: 130px;
  margin-top: -20px;
}

.webim-leftbar .username {
  width: 100%;
  overflow: hidden;
}

.webim-loading span {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  height: 80px;
  text-align: center;
}

//消息发送失败的时候加个红色惊叹号 <span className='webim-file-icon font smaller red'>k</span>
span.red {
  color: rgb(255, 42, 0);
}

.webim-contact-loading {
  width: 24px;
  margin: 0 auto;
}

.webim-contact-loading img {
  width: 24px;
}